@page "/cv"

<h1 class="d-none">Curriculum Vitae</h1>
<arikel id="Opleidingen" class="m-3">
    <h2 class="border-bottom-blossom border-1 text-blossom ps-3">Opleidingen</h2>
    <div class="d-lg-flex flex-wrap m-3">
        <div class="card border-0 col-12 col-lg-4 p-3">
            <h3 class="text-blossom fs-5">
                &period;NET ontwikkelaar met C# | VDAB |
                2&sol;10&sol;2023 &minus; heden
            </h3>
            <ul>
                <li> Programmatielogica en Object Oriented Programming </li>
                <li> Gegevensanalyse en SQL </li>
                <li> HTML/CSS </li>
                <li> JavaScript </li>
                <li> NET C # </li>
                <li> Test Driven Development </li>
                <li> NET ASP MVC </li>
                <li> NET Entity Framework </li>
                <li> WebAPI </li>
                <li> WPF </li>
                <li> Scrum </li>
                <li> Angular </li>
                <li> Razor </li>
                <li> Solid </li>
                <li> Blazor </li>
                <li> XML </li>
            </ul>
            <p>referentie Steven Lucas</p>
            <p class="d-flex gap-2 flex-wrap">
                <a href="mailto: steven.lucas@vdab.be" class="textdecoration-underline text-body"> steven.lucas@vdab.be</a> 
                |
                <a href="tel: +32495457316" class="textdecoration-underline text-body">0495&sol;45&period;73&period;16</a>
            </p>
         </div>
        <div class="card border-0 col-12 col-lg-4 p-3">
            <h3 class="text-blossom fs-5">
                Full-stack developer | Syntra West |
                12&sol;09&sol;2022 &minus; 28&sol;06&sol;2023
            </h3>
            <ul>
                <li> HTML5 </li>
                <li> CSS </li>
                <li> Bootstrap & Tailwind </li>
                <li> SASS/SCSS </li>
                <li> JavaScript ES6 </li>
                <li> Vue.js </li>
                <li> XML </li>
                <li> JSON </li>
                <li> REST API </li>
                <li> PHP (OOP) </li>
                <li> Laravel </li>
                <li> Livewire </li>
                <li> Alpine.js </li>
                <li> SQL (MariaDB, MySQL) </li>
                <li> Node.js (NPM) </li>
                <li> Git </li>
                <li> SCRUM </li>
            </ul>
            <p>referentie Tom Vanhautte</p>
            <p class="d-flex gap-2">
                <a href="mailto: syntraprogrammeurs@gmail.com" class="textdecoration-underline text-body"> syntraprogrammeurs@gmail.com</a>
            </p>
        </div>
        <div class="card border-0 col-12 col-lg-4 p-3">
            <h3 class="text-blossom fs-5">
                Grafisch ontwerper | Syntra West |
                13&sol;09&sol;2022 - 28&sol;06&sol;2024
            </h3>
            <ul>
                <li> Vectorieel tekenen </li>
                <li> Digitale beeldbewerking </li>
                <li> Digitale lay-out </li>
                <li> Presentatie- en creativiteitstechnieken </li>
                <li> Inleiding tot print- en drukproductie </li>
                <li> Typografie, kleurkennis en designprincipes </li>
                <li> Branding en huisstijldesign </li>
                <li> 2D motion design </li>
                <li> Webtechnieken voor grafici </li>
                <li> Media & campagneplanning </li>
                <li> Media content creatie </li>
            </ul>
        </div>
        <div class="card border-0 col-12 col-lg-4 p-3">
            <h3 class="text-blossom fs-5">
                Modevormgever | Syntra West |
                09&sol;2009 &minus; 06&sol;2011
            </h3>
        </div>
        <div class="card border-0 col-12 col-lg-4 p-3">
            <h3 class="text-blossom fs-5">
                Verkoop en Etalage | Burgerschool 2002
                &minus; 2008
            </h3>
        </div>
    </div>
</arikel>
<arikel id="werk" class="m-3">
    <h2 class="border-bottom-blossom border-1 text-blossom ps-3">Werkervaring</h2>
 
    <div class="m-3">
        <div class="card border-0 p-3">
            <h3 class="text-blossom fs-5">
                Derde verantwoordelijke | Gamma | 2014 &minus; 2023
            </h3>
            <p>
                Verantwoordelijk voor het openen en sluiten van de winkel, inclusief het afsluiten van de kassa. Ook het opvolgen van de stock (telling en oorzaak van
                inconsisenties analyseren). Het tekenen van de plannen van keukens. De communicatie verzorgen met zowel klanten als leveranciers. Alsook het bieden
                van autorisatie aan collega’s voor wisselgeldaanvragen en kluistelling. Aansturen van collega’s om bepaalde taken op te nemen zoals herstellingen, bestellingen.
                Zorgen dat de procedures door iedereen nageleefd worden.
            </p>
        </div>
        <div class="card border-0 p-3">
            <h3 class="text-blossom fs-5">
                Stikster | Oni Onik | 2014
            </h3>
            <p>
                Stikken van naden.
            </p>
        </div>
        <div class="card border-0 p-3">
            <h3 class="text-blossom fs-5">
                Kassierster | Maxi Zoo | 2013 &minus; 2014
            </h3>
            <p>
                Bedienen van de kassa, verantwoordelijk voor het afsluiten van de kassa en algemene winkelmedewerker.
            </p>
        </div>
        <div class="card border-0 p-3">
            <h3 class="text-blossom fs-5">
                Kassierster | Action | 2011 &minus; 2013
            </h3>
            <p>
                Bedienen van de kassa en algemene winkelmedewerker.
            </p>
        </div>
    </div>
      

</arikel>
