@page "/"



<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card d-bloc w-100 bg-black p-5 d-flex">
                <div class="d-flex flex-wrap justify-content-around align-content-between">
                    <img src="/Images/shopper.png" alt="Marilyn" class="col-md-2 col-12 m-5" style="height:  276px" />
                    <p class="text-white col-md-6 col-12 m-0 align-content-center">Ik ben een 36-jarige vrouw met een enorme passie voor technologie en programmeren. Ik volg momenteel een opleiding tot programmeur, waar ik volop geniet van de perfecte mix tussen creatief denken en het oplossen van boeiende uitdagingen. Met een nieuwsgierige en leergierige mindset werk ik hard aan het ontwikkelen van mijn vaardigheden. Ik kijk ernaar uit om mijn passie om te zetten in een carrière en mijn creaties tot leven te brengen in de wereld van softwareontwikkeling.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card d-bloc w-100 bg-black p-5">
                <div class="d-flex flex-wrap justify-content-around align-content-between">
                    <p class="text-white col-lg-6 col-12 m-0 align-content-center">In mijn vrije tijd ben ik gepassioneerd bezig met boogschieten op staande wip, een traditionele vorm van schietsport. Het vraagt om precisie, concentratie en een vaste hand, wat het een uitdagende en tegelijkertijd ontspannende hobby maakt. Elke keer wanneer ik mijn boog span, geniet ik van de rust en het doelgerichte karakter van de sport. Het is een mooie manier om zowel mijn focus te trainen als te genieten van een unieke buitenactiviteit.</p>
                    <img src="/Images/Schutter.png" alt="Marilyn" class="col-lg-2 m-5 col-12" style="height: 276px" />
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card d-bloc w-100 bg-black p-5">
                <div class="d-flex flex-wrap justify-content-around align-content-between">
                    <img src="/Images/goeddoel.png" alt="Marilyn" class="col-lg-2 m-5 col-12" style="height: 276px" />
                    <p class="text-white col-lg-6 col-12 m-0 align-content-center">
                        Naast mijn passie voor technologie en sport, zet ik mij graag in voor goede doelen. Zo heb ik mijn haar gedoneerd voor mensen die het nodig hebben, geef ik regelmatig bloed en help ik het Rode Kruis door stickers te verkopen. Het is voor mij belangrijk om een positieve bijdrage te leveren aan de samenleving, en ik haal veel voldoening uit het helpen van anderen op deze manieren.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>